:root {
    box-sizing: border-box;
}

#board {
    height: 400px;
    display: flex;
}

.column {
    border: 3px solid #baddad;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}


.red {
 height:60px;
    border-radius: 50%;
    background-color: red;
}

.black {
 height:60px;
    border-radius: 50%;
    background-color:black;
}
